extends base.jade

block content
    h2 User Forms
    br
    if forms.length == 0
        h3
            | This user has no forms 
    else
        table.table.table-striped.table-bordered
            tr.row
                th.col-sm-1
                    | #
                th.col-sm-7
                    | Name
                th.col-sm-4
                    | Edit
            - for (var i = 0; i < forms.length ; i++)
                tr.row
                    td.col-sm-1
                        | #{i+1}
                    td.col-sm-7
                        | #{forms[i].title}
                    td.col-sm-4
                        a.btn.btn-primary(href="/edit?id=#{forms[i]._id}") Edit