extends base.jade

block content
  script(src="/createoreditHelpers.js")
  if action == "create"
    script(src="/create.js")
  else
    script(src="/edit.js")

  .container(style="margin-bottom: 50px")
      if action =="edit"
        h1 Edit Form
        h2
            | You can view the form 
            a(href="/view?id=#{id}") here 
      form(id="form")
        h2 Form Information:
        br
        .form-group.row
            label.col-sm-2.col-form-label(for="title") Title*:
            .col-sm-3
                input.form-control(type="text",name="title",id="title",required)
            label.col-sm-2.col-form-label(for="companyName") Company Name*:
            .col-sm-3
                input.form-control(type="text",name="companyName",id="companyName",required)
        .form-group.row
            label.col-sm-2.col-form-label(for="description") Description*:
            .col-sm-3
                textarea.form-control(id="description",rows="3",name="description",form="form",required)
            label.col-sm-2.col-form-label(for="companyBannerUrl") Banner URL:
            .col-sm-3
                input.form-control(type="text",name="companyBannerUrl",id="companyBannerUrl")
        hr
        h2 Fields:
        br
        .container(id="fields")

        .form-group.row.text-center
            btn.btn.btn-success(type="button",id="addFieldBtn") Add Field
        hr
        h2 Applicant Confirmation Email:
        br
        .container
            .form-group.row
                .col-sm-1
                    input.form-control(type="text",id="email1",value="Dear")
                .col-sm-2
                    input.form-control(type="text",value="First Name", disabled)
            br
            .form-group.row
                .col-sm-3
                    input.form-control(type="text",value="Company Name", disabled)
                .col-sm-6
                    input.form-control(type="text",id="email2",value="has received your application and it's being reviewed.")
            br
            .form-group.row
                .col-sm-6
                    textarea.form-control(type="text",rows="3",id="email3",value="") We'll contact you to let you know the next step
            br
            br
            .form-group.row
                label.col-sm-2.col-form-label(for="emailImageUrl") Email Image URL:
                .col-sm-3
                    input.form-control(type="text",name="emailImageUrl",id="emailImageUrl")

            



        button.btn.btn-primary(type="submit",id="submit") Submit Form