extends base.jade

block content
  script(src="/createoreditHelpers.js")
  if action == "create"
    script(src="/create.js")
  else
    script(src="/edit.js")

  .container(style="margin-bottom: 50px")
      if action =="edit"
        h1 Edit Form
        h2
            | You can view the form 
            a(href="/view?id=#{id}") here 
      form(id="form")
        h2 Form Information:
        br
        .form-group.row
            label.col-sm-2.col-form-label(for="title") Title*:
            .col-sm-3
                input.form-control(type="text",name="title",id="title",required)
            label.col-sm-2.col-form-label(for="companyName") Company Name*:
            .col-sm-3
                input.form-control(type="text",name="companyName",id="companyName",required)
        .form-group.row
            label.col-sm-2.col-form-label(for="description") Description*:
            .col-sm-3
                textarea.form-control(id="description",rows="3",name="description",form="form",required)
            label.col-sm-2.col-form-label(for="bannerUrl") Banner URL:
            .col-sm-3
                input.form-control(type="text",name="bannerUrl",id="bannerUrl")
        hr
        h2 Fields:
        br
        .container(id="fields")

        .form-group.row.text-center
            btn.btn.btn-success(type="button",id="addFieldBtn") Add Field
        hr
        h2 Applicant Confirmation Email:
        br
        hr
        h2 Email Information:
        br
        .form-group.row
            label.col-sm-2.col-form-label(for="recruiterEmail") Recruiter Email*:
            .col-sm-3
                input.form-control(type="email",name="recruiterEmail",id="recruiterEmail",required)

            



        button.btn.btn-primary(type="submit",id="submit") Submit Form